{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Delete Post</legend>
            {{form}}
        </fieldset>
        <div class="form-group">
            <div>
                <h2>Are you sure you want to delete {{object.title}} ?</h2>
                <button class="btn btn-outline-danger btn-sm mt-2 mb-1" type="submit">Yes</button>
                <a class="btn btn-outline-secondary btn-sm mt-2 mb-1" href="{% url 'post-detail' object.id%}">Cancel</a>            
            </div>
        </div>
    </form> 
</div>
{% endblock content %}