/classifier/Review_Classifier/model
/classifier/Review_Classifier/sentiment_bert_model.h5
/classifier/Review_Classifier/sentiment_bert_weights.h5
/classifier/Review_Classifier/vocab.txt
/classifier/music_data.json
/Data
/flask/music_classifier/cnn_model.h5
/flask/review_classifier/sentiment_bert_model.h5
/flask/review_classifier/vocab.txt
/flask/Dockerfile
/flask/.dockerignore
/nginx
/venv
/cnn_model.h5
/docker-compose.yml
/music_classifier_service.py